@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">THE LIBRARY</h1>
    
</div>
<div class="book-list">
    @if (Model.books != null && Model.books.Count() > 0)
    {
        <h2 class="library-books">Books in the library</h2>
        <table>
            @{
                var sortedBooks = Model.books.OrderBy(book => book.Title);
            }
            @foreach (Objects.Book book in sortedBooks)
            {
                <tr>
                    <td class="book-cells">
                        @book.Title
                    </td>
                    <td>
                        <a asp-page="MoreInfo" asp-route-id="@book.BookId">READ MORE</a>
                    </td>
                </tr>
                <tr>
                    <td class ="author-cells">
                        by @book.Author
                    </td>               
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are no books in the library.</p>
    }
</div>

